.college_menu{
    background: var(--color-primary);
    margin-top: 3rem;
    border-radius: 10px;
}


h2{
    padding-top: 3rem;
    padding-bottom: 0;
}

.menu_body{
      color: black;
      background: white;
      font-size: 1.5rem;
}

.menu_body p{
    text-align: center;
    padding: 40px 35px;
}

#btn{
   margin-left: 440px;
   padding-left: 70px;
   padding-right: 70px;
   margin-bottom: 2rem;
   font-size: 1.5rem;
}

h3{
    text-align: center;
    padding-top: 2rem;
}

.listcourse{
    padding-left: 3rem;
    line-height: .5rem;
}
.listcourse  p{
    text-align: left;
}


/*Tablet*/
@media screen and (max-width: 1024px){
    #btn{
        margin-left: 13rem;
        margin-top: 3rem;
    }
}

/* Phone*/

@media screen and (max-width: 600px){
    #btn{
        margin-left: 6rem;
        margin-top: 3rem;
    }

    .listcourse{
        padding-left: 2rem;
        line-height: .5rem;
    }

    h3{
    font-size: 2rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    }
}
